*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex; /* Use Flexbox for layout */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        background-image: url("/Projects/SemiTech/squid-game-3b[1].jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        margin: 0; /* Remove default margin */
        color: aliceblue;
    }

